@media only screen and (min-width: 768px) and (max-width: 960px) {
  .orbit-caption div { font-size: 13px !important; }
  .orbit-caption h2 { font-size: 2.2rem !important; }
}

body {
  background-color: rgba(32, 46, 51, 0.93);
}
#responsive .sites {
  display: none;
}
#responsive div {
  background-repeat: no-repeat;
  background-size: 100%;
}
.container {
	margin: 0 auto;
    height: 100%;
    left: 0;
    overflow: auto;
    position: relative;
    top: 0;
    z-index: 1000;
}
.contact {
    background-color: #F5F5F2;
    border-radius: 0 10px 10px 0;
    bottom: 0;
    color: #000000;
    font-size: 13px;
    height: 70px;
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
    text-align: center;
    width: 92%;
    padding-top: 12px;
    z-index: 5; }
.content h1 {
	font-size: 40px; 
	text-transform: uppercase; 
	font-weight: bold; 
	text-align: center;
	margin-top: 15%;
	color: #222;
	line-height: 50px;  }
.content h3 {
	text-align: center; 
	font-size: 22px; 
	color: #222; }
	
.orbit-wrapper { margin-bottom: 100px; }
.orbit-caption div {
	padding: 0 5px 15px 5px;
	text-align: left;
	font-size: 15px;
	line-height: 1.5em;
}
.orbit-caption span {
	display: block;
	color: #7C7C7A;
}
#nba, #lux, #sacha {
	margin-top: 71px;
}
#ora {
	background-image: url(../images/sites/web-ora.png);
}
#seed {
	background-image: url(../images/sites/web-seed.png);
}
#gca {
	background-image: url(../images/sites/web-gca.png);
}
#soko {
	background-image: url(../images/sites/web-sokoglam.png);
}
#time {
	background-image: url(../images/sites/web-time.png);
}
#karma {
	background-image: url(../images/sites/web-karma.png);
}
#bc {
	background-image: url(../images/sites/web-bc.png);
}
#ashleystark {
	background-image: url(../images/sites/web-ashleystark.png);
}
#peckish {
	background-image: url(../images/sites/web-peckish.png);
}
#phocus {
	background-image: url(../images/sites/web-phocus.png);
}
#summer {
	background-image: url(../images/sites/web-summer.png);
}
#forme {
	background-image: url(../images/sites/web-forme.png);
}
#careermd {
	background-image: url(../images/sites/web-careermd.png);
}
#hn {
	background-image: url(../images/sites/web-hn.png);
}
#wizardworld {
	background-image: url(../images/sites/web-wizardworld.png);
}
#nba {
	background-image: url(../images/sites/web-nba.png);
}
#mountainside {
	background-image: url(../images/sites/web-mountainside.png);
}
#emily {
	background-image: url(../images/sites/web-emily.png);
}
#lux {
	background-image: url(../images/sites/web-lux.png);
}
#sacha {
	background-image: url(../images/sites/web-sacha.png);
}
#shane {
	background-image: url(../images/sites/web-shane.png);
}
#wish {
	background-image: url(../images/sites/web-wish.png);
}
#bl {
	background-image: url(../images/sites/web-bl.png);
}
#redcross {
	background-image: url(../images/sites/web-redcross.png);
}
#poets {
	background-image: url(../images/sites/web-poets.png);
}
#nybg {
	background-image: url(../images/sites/web-nybg.png);
}
#saffronfix {
	background-image: url(../images/sites/web-saffronfix.png);
}
#calypso {
	background-image: url(../images/sites/web-calypso.png);
}
#wang {
	background-image: url(../images/sites/web-wang.png);
}
#adler {
	background-image: url(../images/sites/web-adler.png);
}
#qi {
	background-image: url(../images/sites/web-qi.png);
}

@-moz-document url-prefix() {
	#nba, #lux, #sacha {
		margin-top: 65px;
	}
}
div:last-child img {
	display:none; 
}