body {
    background-color: rgba(32, 46, 51, 0.93);
}
#responsive .sites {
	display: none;
}
#responsive div {
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center top;
}
#responsive div img {
	width: 100%;
}
.container {
	margin: 0 auto;
    height: 100%;
    left: 0;
    overflow: auto;
    position: relative;
    top: 0;
    z-index: 1000;
}
.contact {
    background-color: #F5F5F2;
    border-radius: 0 10px 10px 0;
    bottom: 0;
	color: #000000;
    font-size: 13px;
    height: 70px;
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
    text-align: center;
    width: 92%;
	padding-top: 12px;
    z-index: 5; }
.content h1 {
	font-size: 40px; 
	text-transform: uppercase; 
	font-weight: bold; 
	text-align: center;
	margin-top: 15%;
	color: #222;
	line-height: 50px;  }
.content h3 {
	text-align: center; 
	font-size: 22px; 
	color: #222; }
	
.orbit-wrapper { margin-bottom: 100px; }
.orbit-caption div {
	padding: 5px 5px 15px 5px;
	text-align: justify;
}
.orbit-caption span {
	display: block;
	color: #7C7C7A;
}
#nba, #lux, #sacha {
	margin-top: 71px;
}

@-moz-document url-prefix() {
	#nba, #lux, #sacha {
		margin-top: 65px;
	}
}